.sidebar {
    width: 200px;
}
.sidebar__inner {
    padding-left: 10px;
    color: #0f2355;

    ul {
        list-style: none;
        margin: 0;
        padding: 5px;

        li {
            display: flex;
            align-items: center;
            margin-bottom: 10px;
            cursor: pointer;
            padding: 6px;

            &:hover {
                background: #e9e9e9;
                box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
                border-left: 7px solid #b9473e;
                transition: all 0.2s ease;
            }

            span {
                font-size: 13px;
                font-weight: 400;
                margin-left: 10px;
                color: #0f2355;
            }
        }
    }
    .sidebar__inner-title {
        margin: 30px 0px 15px 0px;
        font-weight: 700;
        font-size: 17px;
    }
}
