.sidebar {
  width: 200px;
}
.sidebar__inner {
  padding-left: 10px;
  color: #0f2355;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    // .sidebar__inner-title {
    //   font-weight: 700;
    //   font-size: 10px;
    // }

    li {
      display: flex;
      align-items: center;
      padding: 10px;
      cursor: pointer;

      &:hover {
        background: #e9e9e9;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        border-left: 7px solid #b9473e;
      }
      // .sidebar__inner-item {
      //   font-weight: 400;
      //   font-size: 10px;
      // }
      span {
        font-size: 13px;
        font-weight: 400;
        margin-left: 10px;
      }
    }
  }
}
