.messagesContainer {
    display: flex;
    width: 90%;
    height: 700px;
}

.contactList {
    width: 30%;

    display: flex;
    flex-direction: column;
    & span {
        width: 100%;
        // height: 75px;
    }
}
.reciever {
    padding-left: 15px;
    &.selected {
        border: 2px solid lime;
    }
}

.messages {
    width: 70%;
    padding: 25px;
    display: flex;
    flex-direction: column;

    &Block {
        height: 90%;
    }
}
.textEditor {
    border: 1px solid grey;
    padding: 10px;
}
