.messagesContainer {
    display: flex;
    width: 90%;
    height: 700px;
}

.contactList {
    width: 30%;

    display: flex;
    flex-direction: column;
    & span {
        width: 100%;
        // height: 75px;
    }
}
.reciever {
    height: 35px;
    background: #f6f7fb;
    border: 1px solid #a2afb2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    cursor: pointer;
    padding-left: 15px;
    &:hover {
        color: #40a9ff;
        border-color: #40a9ff;
    }
    &.selected {
        color: #40a9ff;
        border-color: #40a9ff;
    }
}

.messages {
    width: 70%;
    padding: 25px;
    display: flex;
    flex-direction: column;

    &Block {
        height: 90%;
    }
}
.textEditor {
    border: 1px solid grey;
    padding: 10px;
}
