.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__title {
    display: flex;
    justify-content: center;
    margin: 70px 0px 29px;
    color: #0f2355;
    font-weight: bold;
    font-size: 14px;
}

.declaration__form {
    display: flex;
    justify-content: center;
    column-gap: 16px;
}

p {
    font-weight: 400;
    font-size: 10px;
    margin-bottom: 6px;
}

.form__input {
    &::placeholder {
        color: #a2afb2;
        font-weight: 400;
        font-size: 10px;
    }
    margin-bottom: 35px;
    width: 371px;
    height: 33px;
    background: #f6f7fb;
    border: 1px solid #a2afb2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.btn__login {
    width: 143px;
    height: 35px;
    background: #f6f7fb;
    border: 1px solid #a2afb2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}
