.registry-sro__table {
    td.ant-table-cell {
        cursor: pointer;
    }
   
}

.registry-sro__drawer-wrapper {
     position: relative;
     overflow: hidden;
     text-align: center;
     background: #fafafa;
     border: 1px solid #ebedf0;
     border-radius: 2px;
 }
