.overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    min-width: 600px;
}

.error-message {
    color: red;
    font-size: small;
    padding-left: 5%;
}

.declaration__form__request {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
}

.declaration__buttons {
    grid-column: 2/3;
    display: flex;
    justify-content: space-between;
    width: 30%;
    margin-left: 59%;
    margin-bottom: 10px;
}
.card__edit__input {
    display: grid;
    width: 100%;
    grid-template-rows: 5px 56px 26px;
}
.card__edit__input .card__edit__input__element {
    width: 90%;
    place-self: center;
    margin-bottom: 0;
}

.current__input {
    &.date {
        width: 100%;
        margin-bottom: 0;
    }
}

.input__title {
    margin-bottom: 1px;
    padding-left: 5%;
    color: #0f2355;
}
