.container {
    margin-left: 27px;
    margin-right: 115px;
    margin-top: 12px;
    min-height: 100%;

    .main__inner {
        height: 100%;
        display: flex;

        .main__sidebar {
            height: 100%;
        }
    }
    .main__table {
        min-width: 100%;
    }
}
