.container {
    margin: 12px auto 0px;
    min-height: 100%;

    .main__inner {
        height: 100%;
        display: flex;

        .main__sidebar {
            height: 100%;
            margin-bottom: 10px;
        }
    }
    .main__table {
        flex: 1;
        min-height: 72vh;
    }
}
