.header {
    background: #0f2355;
    color: #ffffff;

    &__container {
        width: 100%;
        max-width: 100%;
        padding: 18px 23px 19px 19px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__logo {
        cursor: pointer;
    }

    &__logo-1 {
        margin-right: 12px;
    }

    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__icons-search {
        display: flex;
        align-items: center;
        border-bottom: 5px solid lightgray;
        //    padding: 1px;
        //    margin-right: 6px;
    }

    &__input {
        border: none;
        outline: none;
        background-color: transparent;
        max-width: 150px;

        &::placeholder {
            font-size: 12px;
        }
    }

    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        //    margin: 0;
        list-style-type: none;
    }

    &__icon {
        display: flex;
        align-items: center;
        margin-right: 16px;
        position: relative;
        cursor: pointer;
        &:last-child {
            margin-right: 0;
        }
    }
}
