footer {
  background: #0f2355;
  padding: 18px 23px 19px 19px;
  color: #ffffff;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .footer__logo {
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    .footer__logo-block {
      display: flex;
      // justify-content: center;
    }

    .footer__logo-tk {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 16px;

      .footer__logo-text {
        margin-bottom: 12px;
      }
    }
  }

  .footer__content {
    *:not(:last-child) {
      margin-right: 50px;
    }
    display: flex;
    // flex-direction: row;
    font-weight: 400;
    font-size: 10px;
    color: #a2afb2;

    .footer__content-item {
      margin-bottom: 20px;
    }
  }

  .footer__contact {
    // *:not(:last-child){
    //   margin-bottom: 10px;
    // } 
    font-weight: 400;
    font-size: 10px;
    color: #a2afb2;
    // display: flex;
    // justify-content: flex-end;

    .footer__address-click {
      display: inline-block;
      margin-right: 16px;
    }

    .footer__address-p {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
    }
  }

  .footer__rasp{
    display: flex;
    justify-content: end;
    
    .footer__rasp-text{
      margin-right: 16px;
    }
  }
}
