.text__current-card {
    margin-top: 10px;
    font-size: medium;
}
strong {
    color: #0f2355;
    margin-top: 10px;
}
.card {
    /* border: 5px solid black; */
    //     display: flex;
    //     flex-direction: column;
    /* justify-content: center; */
    //     align-items: center;
}

.card__title {
    text-align: center;
    /* border: 1px solid red; */
    font-size: 20px;
    margin: 15px 10px;
    min-width: 768px;
}

.card__body {
    display: block;
    border: 2px solid #f5f5f5;
    margin: 5px auto 10px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-container {
    display: flex;
    justify-content: center;
}

.btn__card {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.current__form {
    display: flex;
    justify-content: space-between;
}

.btn__edit {
    padding: 3px;
    margin-bottom: 25px;
    margin-top: 3px;
}

.current__input {
    &::placeholder {
        color: #a2afb2;
        font-weight: 400;
        font-size: 10px;
    }
    margin-bottom: 35px;
    width: 371px;
    height: 33px;
    background: #f6f7fb;
    border: 1px solid #a2afb2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
}

.btn-submit {
    color: #0f2355;
    border: 1px solid #a2afb2;
}

.message__error {
    color: #0f2355;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}
