.text__current-card {
    margin: 15px, 0, 5px;
    font-size: medium;
}
.strong-title {
    color: #0f2355;
    margin-top: 15px;
}

.card {
    width: 100%;
}

.card__title__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    & > .card__title {
        min-width: auto;
    }
}

.card__field {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 2px 0;
    border-top: 2px solid #f5f5f5;
    &:first-child {
        border: none;
    }
}

.card__title {
    display: flex;
    font-size: 20px;
    margin: 15px 10px;
    min-width: 768px;
}

.card__body {
    display: block;
    border: 2px solid #f5f5f5;
    margin: 5px auto 10px;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%),
        0 1px 5px 0 rgb(0 0 0 / 12%);
}

.card-container {
    display: flex;
}

.btn__card {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
}

.edit-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
    margin-left: 5vmin;
}

.current__form {
    display: flex;
    justify-content: space-between;
}

.edit__card-buttons {
    grid-column: 1/3;
    display: flex;
    justify-content: space-between;
    width: 30%;
}

.current__input {
    &::placeholder {
        color: #a2afb2;
        font-weight: 400;
        font-size: 10px;
    }
    &:focus {
        outline: none;
        border-color: blue;
    }
    margin-bottom: 35px;
    height: 33px;
    background: #f6f7fb;
    border: 1px solid #a2afb2;
    box-sizing: border-box;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    width: 90%;
}

.message__error {
    color: #0f2355;
    font-weight: 400;
    text-align: center;
    margin-top: 40px;
}
.btn__edit {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 34px;
}

.edit__title-input {
    //     margin-right: 73vh;
    color: #0f2355;
    font-weight: 400;
}

.edit__card-title {
    display: flex;
    justify-content: flex-start;
    margin-left: 35vmin;
    padding: 15px;
    font-size: 400;
}
