.current__input {
    color: rgba(0, 0, 0, 0.85);
    border: 1px solid #d9d9d9;
    background-color: #fff;
    border-radius: 2px;
    transition: all 0.3s;
    box-shadow: none !important;
    &:hover {
        border-color: #40a9ff;
        border-right-width: 1px;
    }
    &:focus {
        border-color: #40a9ff;
        box-shadow: 0 0 0 2px rgb(24 144 255 / 20%);
        border-right-width: 1px;
        outline: 0;
    }
}

.anticon-link {
    margin-right: 8px;
}
